snippet html
<html>
	<head>
		<title>${1: Hello, world}</title>
		<link rel="style.css" />
	</head>
	<body>

	<script src="main.js" type="application/javascript"></script>
	</body>
</html>
endsnippet
